<h1>Restaurants</h1>
<p><%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-pink" %></p>
<div class="container text-center restaurants">
<% @restaurants.each do |restaurant| %>
<div class="row card">
  <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  <p><%= restaurant.address %> |&nbsp;<%= restaurant.phone_number %></p>
  <p><%= restaurant.category %> |&nbsp;<%= restaurant.rating %></p>
</div>
<% end %>
</div>
